html *{
    margin:0% auto;
    padding:0 auto;
    text-align:center;
    /*background-color: rgba(126,206,243,1);*/
    background:url("../icon/background.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: auto 100vh;
}
#cv-tips{
    /*background: #f9d272;*/
    display: none;
}
#cv-tips p{
    background: #f9d272;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    line-height: 3vh;
    padding-top: 1vh;
    font-size: 3vh;
}
#cv-tips span{
    color: palevioletred;
    background: #f9d272;
}
.info{
    margin-top: 5vh;
}
.info h1{
    font-size:80px;
    color: lightslategrey;
    font-family: cursive,'Lato', sans-serif;
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button-gray {
    color: slategray;
    border: 5px solid lightgrey;
    border-radius: 10px;
}
.button-gray:hover {color: black;}
.nav div{
    margin-top: 5vh;
}
.tooltip {
    display: none;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 25vh;
    /* 定位 */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}